<tr>
  <td><%= tune.title %></td>
  <td><%= tune.collection.code %></td>
  <td><%= tune.composer %></td>
  <td><%= tune.key %></td>
  <td><%= tune.meter %></td>
  <td><%= tune.tune_type %></td>
  <td><%= tune.bass_type %></td>
  <td><%= tune.variation_count %></td>
  <td><%= tune.treble_part_count %></td>
  <td><%= tune.movement_count %></td>
</tr>
