<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @tune.title %>
</p>

<p>
  <strong>Composer:</strong>
  <%= @tune.composer %>
</p>

<p>
  <strong>Key:</strong>
  <%= @tune.key %>
</p>

<p>
  <strong>Meter:</strong>
  <%= @tune.meter %>
</p>

<p>
  <strong>Type:</strong>
  <%= @tune.tune_type %>
</p>

<p>
  <strong>Collection:</strong>
  <%= @tune.collection_id %>
</p>

<%= link_to 'Edit', edit_tune_path(@tune) %> |
<%= link_to 'Back', tunes_path %>
